body{
    background-color: #27252B;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #fff;
}

/* ---------------------------------- HEADER --------------------------------- */

header{
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

header nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

header nav ul li{
    margin-left: 100px;
}

header nav ul li a{
    transition: 0.3s;
}

header nav ul li a:hover{
    color: #7637C7;
}

.menu a{
    display: none;
}

.menu_phone{
    background-color: #919191;
    position: absolute;
    top: 40px;
    left: 40px;
    width: 300px;
    text-align: center;
    font-size: 20px;
    display: none;
    border-radius: 10px;
}

.menu_phone a{
    color: #fff;
    font-size: 20px;
    margin: 10px;
}

.menu_phone img{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50px;
}

/* ---------------------------------- PRESENTATION --------------------------------- */

.presentation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15%;
    padding-right: 15%;
    height: 500px;
}

.presentation_left{
    width: 33%;
    padding-bottom: 100px;
}

.presentation_left h1{
    font-size: 50px;
}

.nom{
    color: #7637C7;
}

.button_contact{
    background-color: #575757;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    transition: 0.3s;
}

.button_contact:hover{
    background-color: #7637C7;
}

.presentation_middle{
    width: 33%;
    background-color: green;
}

.presentation_middle img{
    position : absolute;
    top : 154px;
    left : 45%;
    transform : translateX(-50%);
}

.presentation_right{
    width: 33%;
    padding-bottom: 50px;
}

.presentation_right h3{
    color: #7637C7;
}


/* ---------------------------------- COMPETENCES --------------------------------- */


.competences{
    background-color: #343237;
    margin-top: 50px;
}

.competences_title{
    text-align: center;
    padding-top: 10px;
}

.competences_title .title1{
    color: #7637C7;
}

.competences_title .title2{
    color: #fff;
    font-size: 30px;
}

.competences_title .title3{
    color: #fff;
    font-size: 25px;
    text-decoration: underline;
}

.competences_title p{
    margin-left: 10px;
    margin-right: 10px;
}

.competences_content{
    margin-top: 50px;
    width: 805px;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}


.competence{
    background-color: #27252B;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 5px;
    width: 150px;
    height: 200px;
}

.competence img{
    width: 150px;
}


.line3, .line4{
    display: flex;
    justify-content: space-around;
    width: 900px;
    margin-top: 20px;
    background-color: red;
}


/* ---------------------------------- PROJETS --------------------------------- */

.projets{
    background-color: #27252B;
    margin-bottom: 50px;
}

.projets_content{
    text-align: center;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.projet{
    display: flex;
    margin-bottom: 30px;
    background-color: #343237;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
    transition: 0.3s;
    padding-left: 20px;
    padding-right: 20px;
}

.projets_content div:hover{
    background-color: #7637C7;
}



/* ---------------------------------- CONTACT --------------------------------- */


footer{
    background-color: #343237;
}

.footer_content{
    width: 900px;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: auto;
    margin-right: auto;
}



.footer{
    display: flex;
    justify-content: space-between;
    background-color: #27252B;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    align-items: center;
    margin-bottom: 20px;
    transition: 0.3s;
    margin: 20px;
}


.footer1:hover, .footer2:hover, .footer3:hover, .footer4:hover{
    background-color: #7637C7;
}

footer img{
    width: 50px;
    height: 50px;
    margin-right: 20px;
}


/* ---------------------------------- PROJETS CAS PAR CAS --------------------------------- */

.proj{
    text-align: center;
}

.title_projet{
    text-align: center;
}

.titre_projet{
    text-align: center;
    color : #7637C7;
    font-size: 60px;
    margin-top: 50px;
}

.sous_titre_projet{
    text-align: center;
    color: #fff;
    font-size: 25px;
    margin-top: 50px;
}

.langage_projet{
    text-align: center;
    color: #fff;
    font-size: 20px;
    margin-top: 50px;
}

.proj p{
    color: #fff;
    font-size: 17px;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.gameplay{
    margin-top: 50px;
    width: 700px;
    background-color: #39383a;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    padding-top: 5px;
    padding-bottom: 50px;
}

iframe{
    width: 500px;
    height: 300px;
}

.git{
    margin-top: 50px;
    width: 220px;
    height: 140px;
    background-color: #39383a;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    padding-top: 5px;
    margin-bottom: 100px;
}

/* ---------------------------------- DEVLOGS --------------------------------- */

.devlogs{
    text-align: left;
    text-align: auto;
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 150px;
    display : flex;
    justify-content: space-around;
}

.sous_titre_projet_devlog{
    text-align: center;
    color: #fff;
    font-size: 25px;
    margin-top: 50px;
}

.devlogs_sous_sous_rubrique{
    font-size: 25px;
    text-align: center;
}

.devlogs_img{
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.devlogs_footer {
    width: 100%;
}

.devlogs_footer_left {
    width : 75%;
    float : left;
}

.devlogs_footer_right {
    width : 25%;
    float : right;
}

.devlogs_footer a {
    color : #7637C7;
    font-size : 25px;

}



/* si l'ecran fait moins de 1095 px de large */

@media screen and (max-width: 1095px){

    nav{
        display: none;
    }

    .menu a{
        display: block;
    }

    .presentation{
        flex-direction: column;
        height: 100%;
    }

    .presentation_left{
        width: 100%;
        text-align: center;
    }

    .presentation_middle{
        width: 100%;
        text-align: center;
        display: none;
    }

    .presentation_middle img{
        position : absolute;
        top : 154px;
        left : 45%;
        transform : translateX(-50%);
    }

    .presentation_right{
        width: 100%;
        text-align: center;
    }

    .competences_title .title1{
        font-size: 30px;
    }

    .competences_title .title2{
        color: #fff;
        font-size: 20px;
    }

    .competences_content{
        grid-template-columns: repeat(3, 1fr);
    }

}


@media screen and (max-width: 900px){
    .competences_content{
        width: 600px;
        grid-template-columns: repeat(2, 1fr);
    }

    .footer_content{
        width: 600px;
        grid-template-columns: repeat(1, 1fr);
    }
    
    .footer{
        margin: 20px;
    }

    .proj_img{
        width: 500px;
    }

    .gameplay{
        width: 500px;
    }

    iframe{
        width: 400px;
        height: 200px;
    }
}

@media screen and (max-width: 650px){
    .competences_content{
        width: 300px;
        grid-template-columns: repeat(1, 1fr);
    }


    .projets_content{
        text-align: center;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
    }
    

    .projet{
        display: flex;
        margin-bottom: 30px;
        background-color: #343237;
        border-radius: 10px;
        align-items: center;
        justify-content: space-between;
        font-size: 20px;
        transition: 0.3s;
        padding-left: 20px;
        padding-right: 20px;
    }

    .projets_content img{
        width: 50px;
    }

    .footer_content{
        width: 360px;
        grid-template-columns: repeat(1, 1fr);
        font-size: 12px;
    }
    
    .footer{
        margin: 20px;
    }

    .proj_img{
        width: 300px;
    }

    .gameplay{
        width: 320px;
    }

    iframe{
        width: 300px;
        height: 150px;
    }


}
